<h3>Create New User</h3>

<%= form_for(@user) do |f| %>
 
 <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.number_field :email %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>
  <%= link_to "User", users_path %>
</p>  